<%= form_for property,url: properties_new_or_edit_path do |f| %>

  <div class="field">
    <%= f.label :物件名 %><br>
    <%= f.text_field :name, id: :property_name%>
  </div>

  <div class="field">
    <%= f.label :賃料 %><br>
    <%= f.text_field :rent, id: :property_rent%>
    <%= "円" %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address, id: :property_address%>
  </div>

  <div class="field">
    <%= f.label :築年数 %><br>
    <%= f.text_field :age, id: :property_age%>
    <%= "年" %>
  </div>

  <div class="field">
    <%= f.label :備考 %><br>
    <%= f.text_area :remarks, id: :property_remarks%>
  </div>

  <hr>

  <h3>最寄り駅1</h3>
  <%= f.fields_for :stations, property.stations.build do |c| %>

    <div class="field">
      <%= c.label :路線名 %><br>
      <%= c.text_field :route, id: :station_route%>
    </div>

    <div class="field">
      <%= c.label :駅名 %><br>
      <%= c.text_field :name, id: :station_name%>
    </div>

    <div class="field">
      <%= c.label :徒歩分数 %><br>
      <%= c.text_field :toho, id: :station_toho%>
      <%= "分" %>
    </div>

  <% end %>

  <h3>最寄り駅2</h3>

  <div class="actions">
    <%= f.submit '登録する' %>
  </div>

<% end %>

<%= link_to '戻る', properties_path %>